.list-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.list-row:hover{
    background-color: var(--darkgrey);
    transition: all 0.3s;
}

.list-row td{
    text-align: left;
    width: 18%;
}

.td-image{
    width: 3rem !important;
    margin-right: 2rem;
}

.td-center-align{
    text-align: center;
}

.td-right-align{
    text-align: right;
}

.mobile-td-mkt{
    display: none;
}

@media only screen and (max-width : 1100px){
    .td-icon{
        display: none;
    }
}

@media only screen and (max-width : 1000px){
    
    .td-total-volume{
        display: none;
    }
}

@media only screen and (max-width : 800px){
    .list-row{
        gap: 0!important;
        margin-top: 1rem;
        padding: 0;
        width: auto;
    }

    .td-image{
        width: 2rem !important;
        margin-right: 1rem;
    }

    .td-coin-logo{
       width: 2rem;
       height: 2rem; 
    }
    .chip-flex{
        display: none;
    }
    .coin-name-list, .coin-symbol-list, .coin-total_volume-list {
        font-size: 80%!important;
    }

    .coin-price-list {
        font-size: .8rem!important;
        margin-right: .5rem;
    }

    .desktop-td-mkt{
        display: none;
    }

    .mobile-td-mkt{
        display: block;
    }
}
